<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
{% include 'base/head.html' %}
<!--end::Head-->

<!--begin::Body-->
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled">
    <!--begin::Theme mode setup on page load-->
    {% include 'theme/main.html' %}
    <!--end::Theme mode setup on page load-->

    <!--Begin::Google Tag Manager (noscript) -->
    {% include 'google/main.html' %}
    <!--End::Google Tag Manager (noscript) -->

    <!--begin::Main-->
    <!--begin::Root-->
    {% include 'main/root.html' %}
    <!--end::Root-->

    <!--begin:: -->
    <!--{ % include 'main/drawers/main.html' % }-->
    <!--end::Drawers-->
    <!--end::Main-->

    <!--begin::Engage-->
    <!--{ % include 'engage/main.html' % }-->
    <!--end::Engage-->

    <!--begin::Scrolltop-->
    {% include 'scrolltop/main.html' %}
    <!--end::Scrolltop-->

    <!--begin::Modals-->
    {% include 'modals/main.html' %}
    <!--end::Modals-->

    <!--begin::Javascript-->
    {% include 'javascript/main.html' %}
    <!--end::Javascript-->
</body>
<!--end::Body-->

</html>