<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <!--begin::Header-->
            {% include 'main/wrapper/header/main.html' %}
            <!--end::Header-->

            <!--begin::Toolbar-->
            {% include 'main/wrapper/toolbar/main.html' %}
            <!--end::Toolbar-->

            <!--begin::Container-->
            {% include 'main/wrapper/container/main.html' %}
            <!--end::Container-->

            <!--begin::Footer-->
            {% include 'main/wrapper/footer/main.html' %}
            <!--end::Footer-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>